<div class="search-modal__form show_search">
<div class="field">
    <input class="field__input"
      id="Search-In-Modal-1"
      type="search"
      name="q"
      value=""
      placeholder="{{ section.settings.search-text }}"
      
    >
    <label class="field__label" for="Search-In-Modal-1">{{ section.settings.search-text }}</label>
    <input type="hidden" name="options[prefix]" value="last">
    <button class="search__button field__button" aria-label="{{ section.settings.search-text }}">
      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
        <use href="#icon-search">
      </svg>
    </button>
  </div>  
</div>
           
            
              