<!--<ul id="new-slider" class="owl-carousel">
      <li class="slid">Split in 3 & Pay in 30 days with &nbsp;{% render 'icon-klarna' %}</li>
      <li class="slid">{% render 'icon-tag' %} &nbsp;&nbsp;We offer &nbsp;<b>price match</b>&nbsp;, we aim to match any price!</li>
      <li class="slid">{% render 'icon-truck' %} &nbsp;&nbsp;Free &nbsp;<b>next day</b>&nbsp; delivery when you spend &pound;50</li>
      <li class="slid">{% render 'icon-clock' %} &nbsp;&nbsp;Order by 4pm for next day delivery</li>
      <li class="slid">{% render 'icon-check-square' %} &nbsp;&nbsp;Hassle free returns</li>
</ul>-->
{% schema %}
  {
    "name": "Promotion Slider",
    "settings": []
  }
{% endschema %}